/*
Theme Name: ForumEngine
Theme URI: http://www.enginethemes.com/themes/forumengine
Author: EngineThemes Team
Author URI: http://www.enginethemes.com
Description: a premium WordPress forum theme, built with simplicity in mind and optimized for better user interactions
Version: 1.6.10
Tags: fluid-layout, responsive-layout, accessibility-ready, translation-ready
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/
@CHARSET "ISO-8859-1";

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.gallery-caption {

}
.bypostauthor {
	
}
.mce-i-wp_code:before {
    /*content: '\e017' !important;*/
}
.screen-reader-text {
    display: none;
}
.loginLink{ color: #fff; float: right; }
.header-bottom .nav-link{ float: left; width: 100%; }
.navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:8px;margin-right:15px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px; display: none;}
.navbar-toggle:focus{outline:0}
.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px}.navbar-toggle .icon-bar+.icon-bar{margin-top:4px}

.nav > li {
    position: relative;
    display: block;
}
.login.collapse, .profile-account.collapse{ display: none; }
.flexipages_widget .page_item a{ font-size: 15px; line-height: 20px; font-weight: bold; color: #3B3B3B; display: block; margin-bottom: 9px; }
.homeCls{ color: #7b7b7b !important; font-weight: bold; }
.navArws{ margin-left: 3px; margin-right: 3px; }

.marketplace-menu-icon { background-image: url("images/menu-icons/book_grey.png"); }
.nav > li.hhwt-nav-menu-message, .nav > li.shoppingCart, .nav li.submenuDispNone { display: none; }
ul.hhwt-nav-menu-right > li ul.dropdown-menu.menucontainer{ min-width: 172px !important; }

.chatBottCnt{ position: fixed; bottom: 5px; right: 5px; z-index: 1000; }
.viewChatBox{ background: #00CCCB;width: 354px;text-align: center;padding: 6px 15px 8px 15px;color: #fff;float: left;border-radius: 7px;font-size: 20px;line-height: 29px;}
.viewChatBox:hover, .viewChatBox:focus{ color: #fff; }
.chatBottIframe{ display: none; width: 350px; background: #fff; }
@media (min-width:768px){
    .navbar-toggle{display:none;}
}

@media (max-width:767px){
    .collapse{ display: none; }
    .collapse.in{ display: block; }
     .hhwt-menu-icons{
        padding: 2px 8px 3px 20px;
    }
    .hidden-xs{ display: none; }
    .visible-xs{ display: block; }
    .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu{ padding: 0px; }
    .navbar {
      position: relative;
      min-height: 50px;
      margin-bottom: 20px;
      border: 1px solid transparent;
    }
    .hhwt-dropdown-li.searchmenu{ display: none; }
    .hhwt-nav-right-container{ float: left; width: 100%; display: none; }
}