.nav-link li.active, .modal .modal-content, #wp-link-1 .modal-content {
  border-top: 5px solid #00CCCB !important;
}
.fe-tab-items .fe-tab-item.current a, .fe-tab-items .fe-tab-item.active a{ border-top: 3px solid #00CCCB !important; }

.button-event .btn, .modal .btn, .fe-form-btn, .fe-btn-primary, .fe-btn{
	background: #00CCCB !important;
}
.bnt_forget{ float: left; margin-left: 9px; }
.items-thread .name .comment, .post-information .comment{
	color: #009FA2 !important;
}
.items-thread .name .like a, .post-information .like{
	color: #F3007B !important;
}
.items-thread .name .like a.active, .post-information .like.active{
	color: #F3007B !important;
}
.items-thread .name .like a:hover, .fe-post-info .comment, .fe-th-info .comment, .fe-post-info .like, .fe-th-info .like{ text-decoration: none; }
a:focus{ outline: none; border: 0px;  }
.fe-tab{ margin-top: 3px; }
.fe-post-info .comment, .fe-th-info .comment{ color: #009FA2 !important;  }
.fe-post-info .like, .fe-th-info .like{ color: #F3007B !important;  }
.fe-icon:before{ font-family: "Pictos" !important;content: attr(data-icon);font-size: 14px;line-height: 17px;  }
.fe-icon.fe-icon-comment, .fe-icon.fe-icon-like{ height: inherit; background: none; vertical-align: inherit; }

.content a, .replies-container a, .fe-th-content a, .fe-login-to-reply a{ color: #00CCCB; line-height: 17px; }
.btn-reply, .goto-reply{ color: #00CCCB; }
.widget li a:hover, .post-information .author .semibold a{ color:  #00CCCB !important; }
.et-entry-content .more-link{ color: #00CCCB !important; }
p.et-comment-reply a{ color: #00CCCB; }
.et-entry-comments.icon{ color: #009FA2 !important; text-decoration: none; }
.main-center{ min-height: 500px; }
.pagination ul > li.active > a, .pagination ul > li > a.current, .pagination ul > li > span.current{ background: #00CCCB; }
.pagination ul > li:hover > a{ background: #00CCCB; border-radius: 5px; text-decoration: none;  }
.pagination ul > li{ font-size: 15px; }
.hot-user-topic ul li p span.number{ background: #00CCCB; }
.hot-user-topic ul li p span.icon[data-icon="w"]{ color: #009FA2 !important; }
.hot-user-topic ul li p span.icon[data-icon="k"]{ color: #F2007B !important; }
.fe-btn-primary:hover{ color: #fff; text-decoration: none; }
#fe_category{ z-index: 1; }
.fe-cat-list > ul > li.fe-current > a > .name{ border-left:3px solid #1abc9c !important; }