@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proximanova/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova/proximanova-regular-webfont.svg#proximanovaregular") format("svg");
  -webkit-font-smoothing: antialiased;
  /* This needs to be set or some font faced ../fonts look bold on Mac in Chrome/Webkit based browsers. */
  -moz-osx-font-smoothing: grayscale;
  /* Fixes font bold issue in Firefox version 25+ on Mac */
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/proximanova/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova/proximanova-bold-webfont.svg#proximanovabold") format("svg");
  -webkit-font-smoothing: antialiased;
  /* This needs to be set or some font faced ../fonts look bold on Mac in Chrome/Webkit based browsers. */
  -moz-osx-font-smoothing: grayscale;
  /* Fixes font bold issue in Firefox version 25+ on Mac */
}
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../fonts/proximanova/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova/proximanova-semibold-webfont.svg#proximanovasemibold") format("svg");
  -webkit-font-smoothing: antialiased;
  /* This needs to be set or some font faced ../fonts look bold on Mac in Chrome/Webkit based browsers. */
  -moz-osx-font-smoothing: grayscale;
  /* Fixes font bold issue in Firefox version 25+ on Mac */
}
.hhwt-navbar-fluid {
  background-color: #00cccb;
  padding: 0px;
}
.hhwt-navbar-fluid .hhwt-navbar-container {
  padding-right: 0px;
  padding-left: 0px;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar {
  display: flex;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li {
  margin-left: 15px;
  margin-right: 15px;
  min-height: 72px;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search {
  max-width: 180px;
  margin-top: 14px;
  height: 40px;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search span {
  background-color: #009fa2;
  border: none;
  color: #d1f0ef;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search input {
  background-color: #009fa2;
  border: none;
  color: #fff;
  padding: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: 'ProximaNova';
  font-size: 15px;
  height: 40px;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search input:focus {
  box-shadow: none;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search input::-webkit-input-placeholder {
  color: #d1f0ef;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search input::-moz-placeholder {
  color: #d1f0ef;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search .input-close {
  display: none;
  position: absolute;
  z-index: 99;
  right: 15px;
  top: 9px;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg span {
  background-color: #fff;
  color: #405050;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg input {
  color: #405050;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg input:focus {
  background-color: #fff;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg input::-webkit-input-placeholder {
  color: #fff;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg input::-moz-placeholder {
  color: #fff;
}
.hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search.search-bg .input-close {
  display: flex;
  cursor: pointer;
}
.hhwt-navbar-fluid .hhwt-navbar-container .collapse, .hhwt-navbar-fluid .hhwt-navbar-container .collapsing {
  padding: 0px;
  width: auto;
}
.hhwt-navbar-fluid .hhwt-navbar-container .navbar-brand {
  padding: 15px 15px 15px 0px;
  outline: none;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:avtive > .dropdown-menu, .dropdown-submenu:hover > .dropdown-menu {
  position: relative;
}
.dropdown-submenu:avtive > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.hhwtmainhassubmenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  content: "\f107";
  font-family: 'FontAwesome';
  left: -7px;
  position: relative;
}
.hhwtmainhassubmenu.active > a:after {
  font-family: 'FontAwesome';
  content: "\f106";
}

.open > .dropdown-menu {
  display: block;
  border-radius: 5px;
  min-width: 350px;
  padding: 0px 15px;
  margin-top: 10px;
}

.hhwt-nav-menu .dropdown-menu > li > a {
  padding: 3px 0px !important;
}

ul.hhwt-nav-menu > li ul.dropdown-menu.menucontainer, ul.hhwt-nav-menu-right > li ul.dropdown-menu.menucontainer {
  width: 100%;
  border-radius: 10px;
  min-width: 350px;
  -moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
  -khtml-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}
ul.hhwt-nav-menu > li ul.dropdown-menu > li > ul, ul.hhwt-nav-menu-right > li ul.dropdown-menu > li > ul {
  width: 100%;
}
ul.hhwt-nav-menu > li ul.dropdown-menu > li > ul li, ul.hhwt-nav-menu-right > li ul.dropdown-menu > li > ul li {
  width: 50%;
  float: left;
}
ul.hhwt-nav-menu > li ul.dropdown-menu > li > ul.dropdown-menu:active ul.dropdown-menu, ul.hhwt-nav-menu > li ul.dropdown-menu > li > ul.dropdown-menu:hover ul.dropdown-menu, ul.hhwt-nav-menu-right > li ul.dropdown-menu > li > ul.dropdown-menu:active ul.dropdown-menu, ul.hhwt-nav-menu-right > li ul.dropdown-menu > li > ul.dropdown-menu:hover ul.dropdown-menu {
  display: none;
}
ul.hhwt-nav-menu > li ul.submenucontainer.dropdown-menu, ul.hhwt-nav-menu-right > li ul.submenucontainer.dropdown-menu {
  position: relative;
  margin: 15px 0px;
  border-radius: 0px;
  padding: 0px;
}
ul.hhwt-nav-menu > li .hhwtmainsubmenu.active, ul.hhwt-nav-menu-right > li .hhwtmainsubmenu.active {
  overflow: hidden;
}
ul.hhwt-nav-menu .hhwtmainsubmenu, ul.hhwt-nav-menu-right .hhwtmainsubmenu {
  margin: 0px -15px;
  padding: 12px 15px 9px;
  overflow: hidden;
}
ul.hhwt-nav-menu .hhwtmainsubmenu:not(:last-child), ul.hhwt-nav-menu-right .hhwtmainsubmenu:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}
ul.hhwt-nav-menu .hhwtmainsubmenu > a, ul.hhwt-nav-menu-right .hhwtmainsubmenu > a {
  color: #576767;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  font-family: 'ProximaNova-Bold';
  font-size: 17px;
}
ul.hhwt-nav-menu .dropdown-submenu:active, ul.hhwt-nav-menu .dropdown-submenu:hover, ul.hhwt-nav-menu-right .dropdown-submenu:active, ul.hhwt-nav-menu-right .dropdown-submenu:hover {
  background: transparent;
}
ul.hhwt-nav-menu .dropdown-menu > li > a, ul.hhwt-nav-menu-right .dropdown-menu > li > a {
  outline: none;
}
ul.hhwt-nav-menu .dropdown-menu > li > a:focus, ul.hhwt-nav-menu .dropdown-menu > li > a:hover, ul.hhwt-nav-menu-right .dropdown-menu > li > a:focus, ul.hhwt-nav-menu-right .dropdown-menu > li > a:hover {
  background-color: transparent;
}

.hhwtmainmenu {
  color: #fff;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'ProximaNova-Semibold';
  font-size: 14px;
  letter-spacing: .7px;
}
.hhwtmainmenu a {
  color: #fff;
  outline: none;
}
.hhwtmainmenu.open .dropdown-menu > .active > a {
  background-color: transparent;
  color: #576767;
}
.hhwtmainmenu.open .dropdown-menu > .active > a:hover, .hhwtmainmenu.open .dropdown-menu > .active > a:focus {
  background-color: transparent;
  color: #576767;
}

.nav > .hhwtmainmenu.open a {
  background-color: transparent;
  border-color: none;
}
.nav > .hhwtmainmenu.open a:focus {
  background-color: transparent;
  border-color: none;
}
.nav > .hhwtmainmenu.open:focus, .nav > .hhwtmainmenu.open:hover {
  background-color: transparent;
  border-color: none;
}
.nav > li.hhwtmainmenu > a:hover, .nav > li.hhwtmainmenu > a:focus {
  background-color: transparent;
  border-color: none;
}

.hhwtmainsubmenu.active .submenucontainer {
  border: none;
  box-shadow: none;
}
.hhwtmainsubmenu .submenucontainer li a {
  color: #00cccb;
  padding: 5px 0px;
  font-family: 'ProximaNova-Semibold';
  font-size: 14px;
  letter-spacing: .7px;
}

.hhwtsecondsubmenu > a:after {
  display: none;
}

.submenucontainer {
  border: none;
  box-shadow: none;
}

.innermenucontainer {
  display: none !important;
}

.searchmenu .search-span.btn {
  border-radius: 0px 20px 20px 0px;
  background-color: #00cccb;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  padding: 11px 10px 10px 10px;
  margin-right: 0px;
  border: 0px;
}
.searchmenu input {
  border-radius: 0px;
  background-color: #fff;
  color: #405050;
  max-width: 214px;
  min-height: 40px;
  box-shadow: none;
  font-size: 14px;
  border: 1px solid #ccc;
  height: 42px;
  border-left: none;
  border-right: none;
}
.searchmenu .form-control:focus {
  box-shadow: none;
  border-color: #ccc;
}

li.searchmenu {
  padding: 16px 0px 10px;
}
li.searchmenu .dropdown-search > span {
  border-radius: 20px 0px 0px 20px;
  background-color: #fff;
  color: #788c8c;
  padding-right: 5px;
}
li.searchmenu .dropdown-search .input-group-addon {
  border-right: none;
}

.hhwt-nav-menu-right {
  position: absolute;
  top: 0;
  right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  font-family: 'ProximaNova';
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .7px;
  min-width: 150px;
}
.hhwt-nav-menu-right .hhwtmainmenu {
  padding-bottom: 0px;
}
.hhwt-nav-menu-right .hhwtmainmenu-notification span {
  padding: 3px 5px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}
.hhwt-nav-menu-right .hhwtmainmenu-notification span.fa-circle {
  color: #F2007B;
  font-size: 9px;
  position: absolute;
  right: 7px;
  top: 0px;
}
.hhwt-nav-menu-right .hhwtmainmenu-notification:hover span {
  color: #098481;
}
.hhwt-nav-menu-right .hhwtmainmenu.hhwt-nav-menu-bag {
  cursor: pointer;
}
.hhwt-nav-menu-right .hhwtmainmenu.hhwt-nav-menu-bag .fa-shopping-cart {
  font-size: 20px;
  padding: 0px 5px;
}
.hhwt-nav-menu-right .hhwtmainmenu.hhwt-logged-nav-menu-bag {
  margin-top: 6px;
}
.hhwt-nav-menu-right img {
  border-radius: 50%;
  margin-left: 10px;
  margin-top: -7px;
  width: 41px;
  height: 41px;
}
.hhwt-nav-menu-right .caret {
  margin-top: -2px;
}
.hhwt-nav-menu-right li a {
  color: #fff;
  padding-top: 3px;
  outline: none;
  padding: 3px 7px;
}
.hhwt-nav-menu-right li a:hover, .hhwt-nav-menu-right li a:active, .hhwt-nav-menu-right li a:visited, .hhwt-nav-menu-right li a:focus {
  background-color: transparent;
}
.hhwt-nav-menu-right li a .fa-shopping-cart {
  font-size: 20px;
  margin-right: 7px;
}
.hhwt-nav-menu-right li.user-name a {
  padding-top: 0px;
}
.hhwt-nav-menu-right .hhwt-nav-menu-li img {
  border-radius: 50%;
  width: 50px;
}
.hhwt-nav-menu-right .hhwt-nav-menu-message img {
  width: 20px;
  height: 20px;
  border-radius: 0;
  margin: 0;
  cursor: pointer;
}

ul.hhwt-nav-menu > li ul.dropdown-menu > li > ul li:nth-child(7) {
  width: 100%;
  float: left;
}

ul.hhwt-nav-menu-right > li ul.dropdown-menu.menucontainer {
  min-width: 220px;
  background-color: #fff;
  margin-top: -1px;
}

ul.hhwt-nav-menu-right .hhwtmainsubmenu {
  padding: 7px 4px 7px;
}
ul.hhwt-nav-menu-right .hhwtmainsubmenu > a {
  color: #00cccb;
  text-align: center;
  font-size: 14px;
  font-family: 'ProximaNova';
  font-weight: bold;
}
ul.hhwt-nav-menu-right .hhwtmainsubmenu:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}

.hhwt-menu-icons {
  background-repeat: no-repeat;
  padding: 2px 0px 3px 30px;
}

.hhwtmainsubmenu .hhwt-menu-icons {
  background-position: left center;
  padding: 6px 0px 3px 30px;
}

ul li.hhwtmainmenu:hover > a {
  color: #098481;
}

.user-message-icon {
  background-image: url("../images/menu-icons/message.png");
}

.travel-guide-icon {
  background-image: url("../images/menu-icons/guide.png");
}

.triplan-guide-icon {
  background-image: url("../images/menu-icons/planner.png");
}

.book-menu-icon {
  background-image: url("../images/menu-icons/book.png");
}

.forum-menu-icon {
  background-image: url("../images/menu-icons/forum_icon.png");
}

.travel-guide-icon:hover, .hhwtmainmenu:hover .travel-guide-icon {
  background-image: url("../images/menu-icons/guide_hover.png");
}

.triplan-guide-icon:hover, .hhwtmainmenu:hover .triplan-guide-icon {
  background-image: url("../images/menu-icons/planner_hover.png");
}

.book-menu-icon:hover, .hhwtmainmenu:hover .book-menu-icon {
  background-image: url("../images/menu-icons/book_hover.png");
}

.forum-menu-icon:hover, .hhwtmainmenu:hover .forum-menu-icon {
  background-image: url("../images/menu-icons/forum_hover_icon.png");
}

.food-guide-icon {
  background-image: url("../images/menu-icons/food.png");
}

.dest-menu-icon {
  background-image: url("../images/menu-icons/destinations.png");
}

.triptype-menu-icon {
  background-image: url("../images/menu-icons/trip_types.png");
}

.iternity-menu-icon {
  background-image: url("../images/menu-icons/itinerary.png");
}

.acomdtn-menu-icon {
  background-image: url("../images/menu-icons/accomentation.png");
}

.others-menu-icon {
  background-image: url("../images/menu-icons/others.png");
}

@media only screen and (max-width: 991px) {
  .hhwt-navbar-fluid .hhwt-navbar-container .navbar-header .navbar-brand {
    padding-left: 0px;
    padding-right: 0px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li {
    margin-left: 8px;
    margin-right: 8px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a {
    font-size: 13px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu-right .hhwt-nav-menu-right-li a {
    font-size: 13px;
  }
}
@media only screen and (min-width: 991px) {
  .hhwt-navbar-fluid {
    min-height: 72px;
    max-height: 72px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .collapse-search {
    display: none;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li.dropdown:hover > .dropdown-menu {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  .hhwt-mob-menu .navbar-toggle {
    display: block;
    margin-right: -5px;
  }
  .hhwt-mob-menu .navbar-toggle span {
    background: #fff;
  }

  .hhwt-navbar-fluid .hhwt-navbar-container {
    padding: 0px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar {
    display: block;
    margin-bottom: 0px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu {
    display: flex;
    width: 100%;
    margin: 0px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li {
    text-align: center;
    margin: auto;
    min-height: auto;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li p {
    display: none;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li a {
    padding-bottom: 8px;
    padding-top: 5px;
    margin-top: 0px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .hhwt-menu-dropdown {
    position: absolute;
    background-color: #fff;
    margin-top: 2px;
    min-width: 300px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .hhwt-menu-dropdown li.hhwt-dropdown-li .dropdown-search input {
    max-width: 165px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li.active {
    display: block;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-mob-menu {
    padding: 0px 15px;
    text-align: center;
    margin-bottom: 10px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-mob-menu .hhwt-mob-search {
    font-size: 20px;
    color: #fff;
    left: 15px;
    position: absolute;
    padding-top: 15px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-mob-menu .hhwt-mob-logo {
    padding-top: 11px;
    margin-left: 15px;
    max-width: 80px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-mob-menu .hhwt-mob-col-button {
    margin-right: 0px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-mob-menu .hhwt-mob-col-button .icon-bar {
    background-color: #fff;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .navbar-collapse {
    border-top: none;
    box-shadow: none;
    overflow-y: unset;
    padding: 0px;
  }
  .hhwt-navbar-fluid .hhwt-navbar-container .collapse, .hhwt-navbar-fluid .hhwt-navbar-container .collapsing {
    width: 100%;
  }

  .hhwtmainmenu {
    margin: auto;
  }

  .nav > li.hhwtmainmenu > a {
    padding: 0px;
    display: inline-flex;
  }
  .nav > li.hhwtmainmenu > a .caret {
    margin-top: 8px;
  }
  .nav > li.hhwtmainmenu > a span.user-name {
    display: none;
  }

  ul.hhwt-nav-menu > li > ul.dropdown-menu.menucontainer {
    position: absolute;
    background: #fff;
  }
  ul.hhwt-nav-menu > li:nth-child(2) > ul.dropdown-menu.menucontainer {
    transform: translate(-20%, 0%);
    margin-top: 0px;
  }
  ul.hhwt-nav-menu > li ul.submenucontainer.dropdown-menu {
    margin-top: 10px !important;
  }
  ul.hhwt-nav-menu > li ul.dropdown-menu > li > ul li .dropdown-menu {
    position: absolute;
  }

  .collapse-search p {
    padding: 0px 15px;
    width: 100%;
    height: 34px;
  }
  .collapse-search p span {
    background-color: #009fa2;
    border: none;
    color: #d1f0ef;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .collapse-search p input {
    background-color: #009fa2;
    border: none;
    color: #fff;
    padding: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'ProximaNova';
    font-size: 15px;
    height: 40px;
  }
  .collapse-search p input:focus {
    box-shadow: none;
  }
  .collapse-search p input::-webkit-input-placeholder {
    color: #d1f0ef;
  }
  .collapse-search p input::-moz-placeholder {
    color: #d1f0ef;
  }
  .collapse-search p .input-close {
    display: none;
    position: absolute;
    z-index: 99;
    right: 15px;
    top: 9px;
  }
  .collapse-search p.search-bg span {
    background-color: #fff;
    color: #405050;
  }
  .collapse-search p.search-bg input {
    color: #405050;
  }
  .collapse-search p.search-bg input:focus {
    background-color: #fff;
  }
  .collapse-search p.search-bg input::-webkit-input-placeholder {
    color: #fff;
  }
  .collapse-search p.search-bg input::-moz-placeholder {
    color: #fff;
  }
  .collapse-search p.search-bg .input-close {
    display: flex;
    cursor: pointer;
  }

  .hhwtmainmenu {
    font-size: 18px !important;
  }

  .hhwt-nav-menu-right {
    padding: 0px;
    position: relative;
  }
  .hhwt-nav-menu-right li.hhwtmainmenu > a {
    width: 100%;
  }
  .hhwt-nav-menu-right li.hhwtmainmenu > a .caret {
    margin-top: 0;
    right: 15px;
    top: 25px;
    position: absolute;
  }
  .hhwt-nav-menu-right img {
    margin-top: -11px;
  }
  .hhwt-nav-menu-right .hhwt-nav-menu-message img {
    margin: 0 10px 0px 0;
  }
  .hhwt-nav-menu-right .hhwtmainmenu-notification span.fa-circle {
    left: 25px;
    top: 11px;
    right: auto;
  }

  ul.hhwt-nav-menu-right > li ul.dropdown-menu.menucontainer {
    min-width: 110px;
    position: relative;
    right: 0px;
    left: auto;
    margin-top: 2px;
    background: transparent;
    box-shadow: none;
    float: none;
  }
  ul.hhwt-nav-menu-right > li ul.dropdown-menu.menucontainer li a {
    padding: 10px !important;
    text-align: left;
    color: #fff;
  }

  ul.hhwt-nav-menu-right .hhwtmainsubmenu {
    border-bottom: none;
    padding: 0px;
  }
  ul.hhwt-nav-menu-right .hhwtmainsubmenu:not(:last-child) {
    border-bottom: none;
  }
}
.hhwt-footer-fluid {
  background-color: #dbf0f1;
  padding-bottom: 35px;
  padding-top: 35px;
}
.hhwt-footer-fluid .hhwt-footer-container {
  padding: 0px;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-categories {
  padding: 0px;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid {
  padding: 0px 15px 0px 0px;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid .titles {
  font-family: 'ProximaNova-Bold';
  font-size: 15px;
  margin-top: 0px;
  color: #405050;
  margin-bottom: 5px;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid ul {
  list-style-type: none;
  padding-left: 0;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid ul li {
  font-family: 'ProximaNova';
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid ul li a {
  color: #00cccb;
  font-size: 14px;
  outline: none;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-follow {
  padding: 0px;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-follow h4 {
  font-family: 'ProximaNova-Bold';
  font-size: 15px;
  margin-top: 0px;
  color: #405050;
  margin-bottom: 5px;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-follow a {
  outline: none;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-follow a .social_fb {
  padding: 11px 15px 10px 15px;
  color: #fff;
  background-color: #00cccb;
  font-size: 19px;
  border-radius: 50%;
  margin-left: -12px;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-follow a .social {
  padding: 11px 12px 10px 12px;
  color: #fff;
  background-color: #00cccb;
  font-size: 19px;
  border-radius: 50%;
  margin-left: -12px;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-download {
  padding: 0px;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-download h4 {
  font-family: 'ProximaNova-Bold';
  font-size: 15px;
  margin-top: 0px;
  color: #405050;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-download a img {
  margin-top: 7px;
  margin-left: -2px;
  width: calc(100% + 10px);
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-download .hhwt-footer-download-btn {
  padding-right: 6px;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-download .hhwt-footer-download-btn a {
  outline: none;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-logo {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-copyright {
  font-family: 'ProximaNova';
  font-size: 10px;
  text-align: center;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-copyright p {
  margin-bottom: 0px;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-agree {
  font-family: 'ProximaNova';
  text-align: center;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-agree a {
  color: #00cccb;
  text-decoration: underline;
  font-size: 10px;
  outline: none;
}
.hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-agree span {
  font-size: 11px;
}

.hhwt-nav-right-container {
  padding: 0px 15px;
}

@media only screen and (min-width: 1200px) {
  .hhwt-nav-menu-right li.hhwt-trg-login > a {
    padding-top: 5px !important;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 768px) {
  .hhwt-menu-icons {
    padding: 2px 0px 3px 22px;
  }

  .hhwtmainmenu {
    font-size: 12px;
  }
  .hhwtmainmenu a {
    display: flex !important;
    padding: 15px 4px !important;
  }

  .hhwt-nav-menu-right .hhwtmainmenu {
    padding-top: 5px;
  }
  .hhwt-nav-menu-right .hhwtmainmenu-notification span {
    padding: 0px 5px;
  }
  .hhwt-nav-menu-right .hhwtmainmenu-notification span.fa-circle {
    right: 4px;
    top: 10px;
  }

  .hhwt-navbar-fluid .hhwt-navbar-container .hhwt-navbar .hhwt-nav-menu .hhwt-nav-menu-li .search {
    max-width: 140px;
  }

  .hhwt-nav-menu-right {
    padding-top: 4px;
    margin-right: 0px;
  }
  .hhwt-nav-menu-right img {
    margin-left: 15px;
  }

  ul.hhwt-nav-menu-right .hhwtmainsubmenu > a {
    padding: 5px 5px !important;
    display: block !important;
  }

  ul.hhwt-nav-menu .dropdown-menu > li > a {
    display: block !important;
  }
}
@media (min-width: 768px) {
  #hhwt-mobile-mmenu.navbar-collapse.collapse {
    display: none !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .menucontainer.dropdown-menu {
    border: none;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .hhwt-nav-menu-right {
    padding-top: 0px;
    position: relative;
    width: 100%;
  }
  .hhwt-nav-menu-right .hhwtmainmenu {
    float: none;
    padding-top: 10px;
  }
  .hhwt-nav-menu-right .hhwtmainmenu.hhwt-logged-nav-menu-bag {
    margin-top: 2px;
  }
  .hhwt-nav-menu-right .hhwtmainmenu.menu-item-has-children span img {
    display: none;
  }

  .hhwt-navbar-fluid .hhwt-navbar-container .mobile-mmenu {
    display: none !important;
  }

  .hhwt-nav-menu-right .hhwtmainmenu-notification span {
    padding: 0px;
  }
}
@media only screen and (max-width: 991px) {
  .hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-follow a .social_fb {
    padding: 9px 13px 8px 13px;
  }
  .hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-follow a .social {
    padding: 9px 10px 8px 10px;
  }

  .searchmenu input {
    max-width: 150px;
  }

  .hhwt-nav-menu-right li a {
    padding: 15px !important;
  }
  .hhwt-nav-menu-right li a .fa-shopping-cart {
    margin-right: 11px;
  }
  .hhwt-nav-menu-right li.user-name a {
    padding-bottom: 8px !important;
  }
  .hhwt-nav-menu-right li:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }
  .hhwt-nav-menu-right li.hhwt-menu-listing {
    border-bottom: none;
  }
  .hhwt-nav-menu-right .hhwtmainmenu-notification span {
    margin-right: 12px;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1199px) {
  .hhwt-nav-menu-right .caret {
    margin-top: 8px;
  }

  .hhwtmainmenu .dropdown-toggle span.caret {
    margin-top: 8px;
  }
}
@media only screen and (max-width: 767px) {
  .hhwt-footer-fluid {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
  }
  .hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-download {
    display: none;
  }
  .hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid {
    margin-bottom: 20px;
  }
  .hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid .links li a {
    color: #405050;
  }
  .hhwt-footer-fluid .hhwt-footer-container .hhwt-footer-categories .hhwt-footer-grid .links li a:hover {
    text-decoration: none;
  }
}
@media only screen and (max-width: 449px) {
  ul.hhwt-nav-menu > li ul.dropdown-menu.menucontainer {
    min-width: 300px;
  }

  ul.hhwt-nav-menu > li:nth-child(2) > ul.dropdown-menu.menucontainer input {
    max-width: 165px;
  }

  .hhwt-nav-menu-right li a {
    padding: 15px 7px;
  }
  .hhwt-nav-menu-right .hhwtmainmenu-notification span {
    padding: 0px;
  }
  .hhwt-nav-menu-right .hhwtmainmenu {
    padding: 0px;
  }
}

/*# sourceMappingURL=header-footer.css.map */
